<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/fontawesome-6/css/all.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <style>
      /* NAVBAR */
      #sitename {
        color: var(--primary);
      }
      #sitename span {
        font-family: text1;
        font-size: 40px;
      }
      #active {
        background: var(--primary);
      }
      @media (max-width: 240px) {
        #sitename span {
          font-family: text1;
          font-size: 20px;
        }
        #sitename i{
          font-size: 20px;
        }
        #baricon{
            font-size: 20px;
        }
      }

      input:hover{
        
        outline: 2px solid var(--primary);
      }

      input{
        padding: 0px 10px;
        background: var(--colored);
      }
      #button{
        background: var(--primary);
        font-family: text;
        font-size: 20px;
      }
    </style>

    <nav class="h-20 flex items-center justify-around">
      <div id="sitename" class="text-4xl gap-3 flex items-center">
        <span class="">chatbox</span>
        <i class="fas fa-up-right-and-down-left-from-center mb-2"></i>
      </div>
      <div class="items-center gap-4 hidden sm:flex">
        <a
          href="/chatbox/login"
          class="border-none h-10 w-28 text-white rounded justify-center flex items-center"
          id="active"
          >Login</a
        >

        <a href="/chatbox/register">Register</a>
      </div>
      <div class="block sm:hidden">
        <i style="color: var(--primary)" class="fas fa-bars text-4xl" id="baricon"></i>
      </div>
    </nav>

    <section class="mt-2 w-full flex items-center justify-center">
        <form action=""  method="POST" class="rounded flex items-center justify-center w-[95%] sm:w-[75%] md:w-[50%] lg:w-[40%] py-2 px-2 bg-white">
            <div class="flex w-[90%] flex-col">
                 <h1>login</h1>
                
                    
                 <div class="mt-4 flex w-[100%]">
                    <div class="w-[100%]">
                        <label class="capitalize" >email</label>
                        <input class="w-[100%] h-10 mt-2" type="text" name="email">
                    </div>
                 </div>
                 
                 <div class="mt-4 flex w-[100%]">
                    <div class="w-[100%]">
                        <label class="capitalize" >password</label>
                        <input class="w-[100%] h-10 mt-2" type="text"  name="password">
                    </div>
                 </div>
                 <div class="mt-4 flex w-[100%]">
                    <div class="w-[100%]">
                        <button id="button" name="btn" type="submit" class="w-[100%] h-12 text-white rounded capitalize">login</button>
                    </div>
                 </div>
            </div>
        </form>
    </section>


  </body>
</html>


